@use "../abstracts/variables" as *;

$clr-reservada: #fff0c2;
$clr-reservada-font: #a68b00;
$clr-cancelada: #ffcdd2;
$clr-cancelada-font: #c62828;
$clr-checkin: #c8e6c9;
$clr-checkin-font: #388e3c;

.tabla-reservas {
    border-collapse: collapse;
    background-color: white;
    text-align: left;
    align-items: center;
    overflow: hidden;
    border-radius: $card-border-radius;
    box-shadow: 0 5px 10px rgba(128, 128, 128, 0.174);

    th {
        text-align: center;
        vertical-align: middle;
        background-color: #d4def7;
        padding: 0.8rem 0.5rem;
        border: 0;
    }

    td {
        text-align: center;
        vertical-align: middle;
        padding: 0.5rem 0.2rem;
        border: 0;
    }

    tr {
        &:nth-child(even) {
            background-color: #f4f6fb !important;
        }

        &:hover {
            background-color: #e0e0e0 !important;
        }
    }

    .status {
        text-align: center;
        border-radius: 0.5rem;
        padding: 0.2rem;
        margin: 0.5rem;

        &-checkin {
            background-color: $clr-checkin;
            color: $clr-checkin-font;
        }

        &-cancelada,
        &-checkout {
            background-color: $clr-cancelada;
            color: $clr-cancelada-font;
        }

        &-reservada {
            background-color: $clr-reservada;
            color: $clr-reservada-font;
        }
    }

    tr:nth-child(even) {
        background-color: #f4f6fb;
    }

    // th {
    //     padding: 1rem 2rem;
    //     text-transform: uppercase;
    //     letter-spacing: 0.1rem;
    //     font-size: 0.7rem;
    //     font-weight: 900;
    //   }

    //   td {
    //     padding: 1rem 2rem;
    //   }

    //   a {
    //     text-decoration: none;
    //     color: blue;
    //   }
}
