@use "../abstracts/variables" as *;

// Botones
.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
    padding: 0.8rem;
    background-color: $primary-color;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &--primary {
        background-color: $primary-color;
        color: white;
        margin-top: auto;
    }

    &--green {
        background-color: $succes-color;
        color: white;
        margin-top: auto;
    }

    &--red {
        background-color: $error-color;
        color: white;
        margin-top: auto;
    }

    &--orange {
        background-color: rgb(255, 153, 0);
        color: white;
        margin-top: auto;
    }

    &--margin-top {
        margin-top: $base-spacing;
    }

    &:hover {
        background-color: $primary-color-dark;
    }
}

.contenedor-dosBotones {
    display: flex;
    align-items: center;
    justify-content:flex-end;
    gap: 0.5rem;
    

    .button {
        &:not(.button--orange) {
            flex: 1;
        }

        &--orange {
            flex: 1;
            width: 100%;
        }

    }
}
