@use '../abstracts/variables' as *;

// PÀGINA CREACIÓ DE L'HOTEL -> https://www.programiz.com/css/form-styling
.form {
    max-width: 600px;
    margin: 0 auto; // Centrar el formulario
    padding: 2rem;
    border-radius: $card-border-radius;

    h3 {
        word-wrap: break-word;
        overflow-wrap: break-word;
    }

    .form-group {
        margin-bottom: 1.5rem;

        label {
            display: block;
            margin-bottom: 0.5rem;
            font-weight: bold;
            color: $text-color;
        }

        input {
            width: 100%;
            padding: 0.8rem;
            border: 1px solid #cccccc;
            border-radius: 5px;
            font-size: 1rem;
            transition: all 0.3s ease;

            &:focus {
                outline: none !important;
                border-color: $primary-color !important;
                background-color: #f0f8ff !important;
                color: $text-color !important;
            }

            &.is-invalid {
                background-color: #f8d7da;
                color: #721c24;
            }
        }
    }

    .form-row {
        display: flex;
        gap: 1rem; // Espaciado entre columnas
    }

    .flex-fill {
        flex: 1; //  Los campos ocupen el mismo espacio
    }
}

.form-row {
    display: flex;
    gap: 1rem; // Espaciado entre columnas

    @media (max-width: 768px) {
        flex-direction: column;
    }
}
