@use '../abstracts/variables' as *;

.noticies {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.noticies__title {
  font-size: 3rem !important;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.noticies__no-news {
  font-size: 1rem;
  color: #666;
  text-align: center;
  margin-top: 20px;
}

.noticies__card {
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin-bottom: 20px;
  transition: all 0.3s ease;
  border: 1px solid $primary-color;
  display: flex;
  flex-direction: column;
}

.noticies__card-title {
  font-size: 1.6rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 10px;
}

.noticies__card-description {
  font-size: 1rem;
  color: #666;
  line-height: 1.6;
  margin-bottom: 15px;
}

.noticies__card-photos {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
  justify-content: center;
}

.noticies__card-photo {
  width: 100%;
  max-width: 300px;
  height: 300px;
  object-fit: cover;
}

@media (max-width: 767px) {
  .noticies__card-photo {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
  }

  .noticies__card-photos {
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .noticies__title {
    font-size: 2rem;
  }

  .noticies__card {
    gap: 20px;
    padding: 20px;
  }

  .noticies__card-title {
    font-size: 1.8rem;
  }

  .noticies__card-description {
    font-size: 1.2rem;
  }

  .noticies__card-photo {
    width: 300px;
    height: 300px;
  }

  .noticies__card-photos {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

@media (min-width: 1024px) {
  .noticies__card {
    padding: 25px;
  }

  .noticies__card-title {
    font-size: 2rem;
  }

  .noticies__card-description {
    font-size: 1.4rem;
  }

  .noticies__card-photo {
    width: 200px;
    height: 200px;
  }
}


// Component notícies
.ultimes-noticies {
  padding: 1rem;

  h3 {
      text-align: center;
      margin-bottom: 1rem;
      
  }

  .noticies-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 1rem;
  }

  .noticia-card {
      background-color: #fff;
      padding: 1rem;
      border: 1px solid $primary-color;

      h4 {
          margin-bottom: 0.5rem;
          font-size: 1.2rem;
          color: #333;
      }

      p {
          font-size: 1rem;
          color: #666;
      }
  }
}