@use '../abstracts/variables' as *;

.header {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1rem;
	text-align: center;

	&__logo {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 4rem;
		height: 4rem;
		margin-bottom: 1rem;
	}

	img {
		width: 100%;
		height: auto;
	}

	&__nav {
		width: 100%;
		display: flex;
		justify-content: center;
	}

	&__menu {
		list-style: none;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1rem;
		margin: 0;
		padding: 0;
		font-family: $font-secondary;
	}

	&__item {
		position: relative;
		width: 100%;
		text-align: center;
	}

	&__link {
		text-decoration: none;
		color: $primary-color;
		font-weight: 500;
		font-size: 1rem;
		border: 1px solid $primary-color;
		padding: 0.5rem 1rem;
		display: inline-block;
		width: 100%;
		max-width: 200px;
		transition:
			color 0.3s ease-in-out,
			background-color 0.3s ease-in-out;

		&:hover {
			color: white;
			background-color: $primary-color-transparente;
			border-color: $primary-color-transparente;
		}
	}

	&__link--active {
		color: white;
		background-color: $primary-color;
	}

	//* Responsive para tablets y desktop
	@media (min-width: 768px) {
		height: 6rem;
		flex-direction: row;
		justify-content: space-between;
		padding: 0 2rem;

		&__logo {
			margin-bottom: 0;
		}

		&__nav {
			width: auto;
		}

		&__menu {
			flex-direction: row;
			gap: 1.5rem;
			align-items: center;
		}

		&__item {
			width: auto;
		}

		&__link {
			width: auto;
			max-width: none;
		}
	}
}
