// Variables de color
$primary-color: #1f75cb;
$primary-color-dark: #1f75cb61;
$secondary-color: #ffcc00;
$tertiary-color: #2980b9;
$background-color: #f4f4f4;
$text-color: #333;
$link-color: $primary-color;
$font-stack: "Poppins", sans-serif;

// Variables de espaciado
$base-spacing: 1rem;
$large-spacing: 2rem;

// Fuente y tipografía
$heading-font: "Poppins", sans-serif;
$body-font: "Poppins", sans-serif;

// Reset de márgenes y paddings
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Estilos Globales
body {
    margin: 0;
    font-family: $body-font;
    background-color: $background-color;
    color: $text-color;
    line-height: 1.6;
}

// Títulos
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $heading-font;
    font-weight: bold;
    color: $text-color;
    margin-bottom: $base-spacing;

    // Estilos para cada nivel de título
    &.h1 {
        font-size: 2.5rem;
    }

    &.h2 {
        font-size: 2rem;
    }

    &.h3 {
        font-size: 1.75rem;
    }

    &.h4 {
        font-size: 1.5rem;
    }

    &.h5 {
        font-size: 1.25rem;
    }

    &.h6 {
        font-size: 1rem;
    }

    &.center {
        text-align: center;
    }
}

// Párrafos
p {
    font-size: 1rem;
    margin-bottom: $base-spacing;
    line-height: 1.8;
}

// Enlaces
a {
    text-decoration: none;
    color: $link-color;
    transition: color 0.3s ease;

    // &:hover {
    //     color: darken($link-color, 10%);
    // }
}

.text-danger {
    color: #d53545;
}

// Botones
.button {
    display: block;
    width: 100%;
    padding: 0.8rem;
    background-color: $primary-color;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &.primary {
        background-color: $primary-color;
        color: white;
        margin-top: auto;

        // &:hover {
        //     background-color: darken($primary-color, 10%);
        // }
    }

    &.secondary {
        background-color: $secondary-color;
        color: white;

        // &:hover {
        //     background-color: darken($secondary-color, 10%);
        // }
    }

    &.danger {
        background-color: $tertiary-color;
        color: white;

        // &:hover {
        //     background-color: darken($tertiary-color, 10%);
        // }
    }

    &.margin-top {
        margin-top: $base-spacing;
    }

    &:hover {
        background-color: #1c64ac;
    }
}

// Tarjetas (Card)
.cards {
    padding: 30px 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 3rem;
    width: 100%;
    margin: 0 auto;

    @media (max-width: 600px) {
        grid-gap: 2rem; // Reducir espacio entre tarjetas
    }
}

.card {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: $large-spacing;
    display: flex;
    flex-direction: column; /* Asegura que los elementos dentro de la tarjeta estén en columna */
    height: 100%; /* Asegura que la tarjeta ocupe el espacio disponible */
    overflow: hidden; /* Para que el contenido no desborde visualmente */

    @media (max-width: 600px) {
        padding: $base-spacing; // Menos padding en móvil
    }
}

.card-header {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.card-body {
    flex: 1; /* Esto hace que el cuerpo de la tarjeta ocupe todo el espacio disponible */
    font-size: 1rem;
    color: $text-color;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

// Listas
ul,
ol {
    margin-left: 1.5rem;
    margin-bottom: $base-spacing;
}

// Media Queries (Diseño Responsive)
@mixin respond-to($media) {
    @if $media == phone {
        @media (max-width: 600px) {
            @content;
        }
    } @else if $media == tablet {
        @media (max-width: 900px) {
            @content;
        }
    }
}

// Ejemplo de uso de media query
.container {
    width: 80%;
    margin: 0 auto;

    @include respond-to(phone) {
        width: 95%;
    }

    @include respond-to(tablet) {
        width: 90%;
    }
}

// CSS ESPECÍFICO PARA LA PÁGINA DE INICIO
.counter-habitacions {
    font-size: 50px !important;
}
.habitacions {
    font-size: 20px;
}

// NAV LATERAL (TODO EL CONTENIDO)
.layout {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 100vh;
}

// MENÚ LATERAL
.sidebar {
    background-color: #ffffff;
    color: $text-color;
    padding: $base-spacing;
    display: flex;
    flex-direction: column;
    gap: $base-spacing;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);

    // Añadir márgenes y bordes redondeados
    margin: $base-spacing;
    border-radius: 15px;

    h4 {
        text-align: center;
        margin-bottom: $base-spacing;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            display: flex;
            align-items: center;
            padding: 0.5rem 0;

            a {
                color: white;
                text-decoration: none;
                padding: $base-spacing;
                display: block;
                transition: background-color 0.3s ease;
                border-radius: 10px; // Bordes redondeados en hover
                width: 100%;
                background-color: #e7e7e7;

                display: flex;
                align-items: center;
                gap: 0.5rem; // Espacio entre el icono y el texto
                color: black;
                text-decoration: none;

                &:hover {
                    background-color: #1f75cb61;
                }

                &.active {
                    background-color: $primary-color !important;
                    font-weight: bold;
                    color: white;
                }
            }
        }
    }
}

// Contenido principal
.main-content {
    padding: $large-spacing;
    padding-right: (
        $large-spacing + $base-spacing
    ); // Añade espacio adicional a la derecha que contiene el menú lateral
    background-color: $background-color;
    overflow-y: auto; // Si el contenido es largo, permite scroll sin que se mueva el menú lateral
}

// Diseño responsivo
@include respond-to(phone) {
    .layout {
        grid-template-columns: 1fr; // El contenido ocupa todo el ancho
    }

    .sidebar {
        grid-column: 1 / -1;
        position: fixed; // Fija el menú para controlar su posición
        top: 0;
        left: 0;
        height: 100vh;
        width: 250px; // Ancho fijo
        transform: translateX(
            -100%
        ); // Oculta completamente el menú fuera de la pantalla
        transition: transform 0.3s ease-in-out;
        z-index: 1000;
        margin: 0;
        border-radius: 0;
    }

    .sidebar.show {
        transform: translateX(0); // Muestra el menú cuando está activo
    }

    .main-content {
        grid-column: 1 / -1;
    }
}

// PÀGINA CREACIÓ DE L'HOTEL -> https://www.programiz.com/css/form-styling
.form {
    max-width: 600px;
    margin: 2rem auto; // Centrar el formulario
    padding: 2rem;
    border-radius: 10px;

    .form-group {
        margin-bottom: 1.5rem;

        label {
            display: block;
            margin-bottom: 0.5rem;
            font-weight: bold;
            color: $text-color;
        }

        input {
            width: 100%;
            padding: 0.8rem;
            border: 1px solid #cccccc;
            border-radius: 5px;
            font-size: 1rem;
            transition: all 0.3s ease;

            &:focus {
                outline: none !important;
                border-color: $primary-color !important;
                background-color: #f0f8ff !important;
                color: $text-color !important;
            }

            &.is-invalid {
                background-color: #f8d7da;
                color: #721c24;
            }
        }
    }
}
