@use "../abstracts/variables" as *;

.filtros {
    width: 100%;

    select {
        width: 170px;
        padding: 0.5rem;
        border: 1px solid #cccccc;
        border-radius: 5px;
        font-size: 1rem;
        transition: all 0.3s ease;

        &:focus {
            outline: none !important;
            border-color: $primary-color !important;
            background-color: #f0f8ff !important;
            color: $text-color !important;
        }
    }

    button {
        margin-top: 15px;
    }

    .form-group {
        width: 100%;

        label {
            display: block;
            margin-bottom: 0.5rem;
        }
        input[type="range"] {
            display: block;
            width: 100%;
        }
    }
}
