// Variables de color
$primary-color: #1f75cb; //? Color principal usado en resaltado de botones, etc
$primary-color-dark: #1a5d9f; //? Color principal oscuro usado para el hover de botones
$error-color: #721c24;
$background-color: #f4f4f4;
$text-color: #333;
$link-color: $primary-color;
$font-stack: "Poppins", sans-serif;

// Variables de espaciado
$base-spacing: 1rem;
$large-spacing: 2rem;

// Otras Variables
$card-border-radius: 10px;

// Fuente y tipografía
$heading-font: "Poppins", sans-serif;
$body-font: "Poppins", sans-serif;