// Variables de color
$primary-color: #1f75cb;
$primary-color-dark: #1f75cb61;
$secondary-color: #ffcc00;
$tertiary-color: #2980b9;
$background-color: #f4f4f4;
$text-color: #333;
$link-color: $primary-color;

// Tipografía
$font-stack: "Poppins", sans-serif;
$heading-font: "Poppins", sans-serif;
$body-font: "Poppins", sans-serif;

// Espaciado
$base-spacing: 1rem;
$large-spacing: 2rem;

// Otros
$card-border-radius: 10px;
