body {
    margin: 0;
    background: #222;
    font-family: 'Popins', sans-serif;
    display: grid;
    place-content: center;
    min-height: 100vh;
    color: white;
}

.App {
    display: flex;
    flex-direction: column;
    gap: 8px;
}